<!DOCTYPE html>
<html lang="en" style="background-color:#e3e2df;" width="100%">

<head style="background-color:#e3e2df;" width="100%">
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Page description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./static/assets/apple-icon-180x180.jpg" rel="apple-touch-icon">
  <link href="./static/assets/favicon.ico" rel="icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 


  <title style="background-color:#e3e2df;" width="100%">Title page</title>  

<link href="./static/main.82cfd66e.css" rel="stylesheet"></head>


<!-- Add your content of header -->
<header class="" style="background-color:#e3e2df;" width="100%" >
  <div class="navbar navbar-default visible-
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="./index.html" class="navbar-brand">Mashup Template</a>
  </div>

  <nav class="sidebar" style="background-color:#0074D9;" width="100%">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand" href="./index.html" title="" style="font-size:14px">
            <img class="imgesponsive site-logo" alt="" src="./static/assets/images/cb-logo21.svg"><br>CHAT BOARD PRODUCTION</a>
        <p style="color:black;">When Given An Oppotunity,Deliver
        Execellence And Never Quit </p>
      </div>
      <ul class="nav">
        <li><a href="./index.html" title="">Home</a></li>
        <li><a href="./about.html" title="">About</a></li>
        <li><a href="./contact.html" title="">Contact</a></li>

      </ul>

      <nav class="nav-footer"style="background-color:#0074D9;" width="100%">
        <p class="nav-footer-social-buttons">
          <a class="fa-icon" href="https://www.youtube.com/channel/UC6Te3-ocCoqZgyJalNtgDIA" title="">
            <i class="fa fa-youtube-play" style="font-size:24px;color:red"></i>
          </a>
          <a class="fa-icon" href="https://www.facebook.com/ChatBoardProductions" title="">
            <i class="fa fa-facebook-f" style="font-size:24px;color:black "></i>
          </a>
          <a class="fa-icon" href="https://twitter.com/@cbproductions01" title="">
            <i class="fa fa-twitter"style="font-size:24px;color:black"></i>
          </a>
        </p>
        <p>© CBPRODUCTIONS </p>
      </nav>  
    </div> 
  </nav>
</header>
<main class="" id="main-collapse" style="background-color:#e3e2df;" width="100%">

<!-- Add your site or app content here -->
 
<div class="hero-full-wrapper" >
  <div class="grid">
    <img class="img-responsive site-logo" alt="" src="./static/assets/images/PRE_PRODUCTION.jpg" width="">
  <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    <h3 bgcolor=green>Animated Short Films </h3>
    
    <div class="col-xs-12 col-md-6">
      <iframe width="400" height="200" src="https://www.youtube.com/embed/wxsgNzJzBU4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p> Neeve - An Animated Musical Love Story</p>
    </div>

    
    <div class="col-xs-12 col-md-6">
      <iframe width="400" height="200" src="https://www.youtube.com/embed/R_-w8CWXtVU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>Velipomakey Song- Animated version</</p>
    </div>
      
    <div class="col-xs-12 col-md-6">
      <iframe width="400" height="200" src="https://www.youtube.com/embed/f7195D109m8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Tholi Prema Song- Animated version</</p>
    </div>
    <div class="col-xs-12 col-md-6">
      <iframe width="400" height="200" src="https://www.youtube.com/embed/9Mnz1tqUBJ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Maate Vinadhuga Song- Animated version</p>
    </div>
    <div class="col-xs-12 col-md-6">
      <iframe width="400" height="200" src="https://www.youtube.com/embed/9oyKIYmaN7s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Yentha Sakkagunnave Song- Animated version</p>
    </div>
    <div class="col-xs-12 col-md-6">
      <iframe width="400" height="200" src="https://www.youtube.com/embed/QtlU7KDHeb0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Gautamiputra Satakarni Trailer- Animated version</p>
    </div>
    </div>
</div>

<div class="hero-full-wrapper">
  <div class="grid">
    <img class="img-responsive site-logo" alt="" src="./static/assets/images/PRE_PRODUCTION.jpg" width="">
  <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    <h3 bgcolor=green>Featured Short Films</h3>

    <div class="col-xs-12 col-md-6">
     <iframe width="400" height="200" src="https://www.youtube.com/embed/3oLjjejLI2E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>Trapped - A Single Man Short Film</p>
    </div>

    <div class="col-xs-12 col-md-6">
     <iframe width="400" height="200" src="https://www.youtube.com/embed/IRAP2orVqx4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Short Tales||Episode-1 || Raksha</p>
    </div>

    <div class="col-xs-12 col-md-6">
     <iframe width="400" height="200" src="https://www.youtube.com/embed/pNQk0Tytvqo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Jessy Biography-A Thriller Short Film</p>
    </div>
    <div class="col-xs-12 col-md-6">
     <iframe width="400" height="200" src="https://www.youtube.com/embed/jT4p9sKMD6Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Oka Chinna Aasha-A Telugu Short Film</p>
    </div>
    <div class="col-xs-12 col-md-6">
    <iframe width="400" height="200" src="https://www.youtube.com/embed/o9PfQ407jMQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Mission - A Thriller Short Film</p>
    </div>
    <div class="col-xs-12 col-md-6">
    <iframe width="400" height="200" src="https://www.youtube.com/embed/3lLDMuYpvCA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>One Life- A message Oriented Short Film</p>
    </div>
    <div class="col-xs-12 col-md-6">
    <iframe width="400" height="200" src="https://www.youtube.com/embed/OwAUht_HorE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Plant a Tree - A message Oriented Short Film</p>
    </div>
     <div class="col-xs-12 col-md-6">
    <iframe width="400" height="200" src="https://www.youtube.com/embed/_kzdRaPj8IE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Child Labour - A Short Video</p>
    </div>
     <div class="col-xs-12 col-md-6">
   <iframe width="400" height="200" src="https://www.youtube.com/embed/w4K6JfiZido" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Night Out - A Telugu Horror Short Film</p>
    </div>
     <div class="col-xs-12 col-md-6">
    <iframe width="400" height="200" src="https://www.youtube.com/embed/45Hdhca7NP4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Wake Up India - A Short Video</p>
    </div>
    
  </div>
</div>
<div class="hero-full-wrapper" >
  <div class="grid">
    <img class="img-responsive site-logo" alt="" src="./static/assets/images/PRE_PRODUCTION.jpg" width="">
  <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    <h3 bgcolor=green>Short Film Trailer</h3>

    <div class="col-xs-12 col-md-6">
     <iframe width="400" height="200" src="https://www.youtube.com/embed/UTsuUHAKzOw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Jessy Biography-Short Film Trailer </p>
    </div>

    <div class="col-xs-12 col-md-6">
     <iframe width="400" height="200" src="https://www.youtube.com/embed/opyNHcNsHRw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Oka Chinna Aasha-Short Film Trailer</p>
    </div>
    <div class="col-xs-12 col-md-6">
    <iframe width="400" height="200" src="https://www.youtube.com/embed/nn9ZF5IUHKM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Oka Chinna Aasha-Short Film First Look</p>
    </div>
    <div class="col-xs-12 col-md-6">
    <iframe width="400" height="200" src="https://www.youtube.com/embed/xqeWXKb2Xrk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>One Life- Short Film Trailer</p>
    </div>
    <div class="col-xs-12 col-md-6">
    <iframe width="400" height="200" src="https://www.youtube.com/embed/EHnJVVER7as" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Mission -Short Film Trailer</p>
    </div>
     <div class="col-xs-12 col-md-6">
   <iframe width="400" height="200" src="https://www.youtube.com/embed/eqB0_Env1cY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Night Out - A Telugu Horror Short Film Trailer</p>
    </div>
    
  </div>
</div>

<div class="hero-full-wrapper" >
  <div class="grid">
    <img class="img-responsive site-logo" alt="" src="./static/assets/images/PRE_PRODUCTION.jpg" width="">
  <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    <h3 bgcolor=green>Entertainment And Drama</h3>

      <div class="col-xs-12 col-md-6">
   <iframe width="400" height="200" src="https://www.youtube.com/embed/eCL55AN8_iQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Dance by BHARATH (PROXIMITY) AT PRAMANA-2K14</p>
    </div>
    
    <div class="col-xs-12 col-md-6">
     <iframe width="400" height="200" src="https://www.youtube.com/embed/EpSI1XVCyd0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Phir Bhi Tumko Chaahunga ft Varun Tej  </p>
    </div>

    <div class="col-xs-12 col-md-6">
     <iframe width="400" height="200" src="https://www.youtube.com/embed/EE4Up8TMHRY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Next Enti Full Song || Allu Arjun Version || Nenu Local</p>
    </div>
    <div class="col-xs-12 col-md-6">
    <iframe width="400" height="200" src="https://www.youtube.com/embed/o7JknfeXC7I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Message oriented DRAMA BY T.V.RAMANA & co|S.E.RAILWAY</p>
    </div>
    <div class="col-xs-12 col-md-6">
    <iframe width="400" height="200" src="https://www.youtube.com/embed/lPaI0Fq9_os" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>'Dreams' a short video by P.P.Pavan</p>
    </div>
    <div class="col-xs-12 col-md-6">
    <iframe width="400" height="200" src="https://www.youtube.com/embed/mKGGT-aGyno" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>Crazy Dubsmash By Sai Kumar And Sandeep| CB PRODUCTIONS</p>
    </div>
     <div class="col-xs-12 col-md-6">
    <iframe width="400" height="200" src="https://www.youtube.com/embed/gxecHJSAQYA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;   picture-in-picture" allowfullscreen></iframe>
     <p>Mauka Mauka || CBproductions</p>
    </div>
    
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     masonryBuild();
  });
</script>

</main>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--><script type="text/javascript" src="./main.85741bff.js"></script></body>

</html>